pipeline/Loading.json
{
	"name": "Loading",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_IN",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.ChildItems\n\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "movie-in//@{item().name}"
								},
								{
									"name": "Destination",
									"value": "loading//"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "movie",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "movie",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "title",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "title",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "genres",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "genres",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "year",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "year",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Rating",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Rating",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Rotton Tomato",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Rotton Tomato",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Address",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Address",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_SO",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Loading"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-08T23:26:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}